/* Large devices between tablet and (desktops) */
@media only screen and (max-width : 3000px) {
    html {
        font-size: 135%;
    }
    #iframe2{
        display: none;

    }



    .child10{
        font-size: 1.5rem;
    }

    #iframe1{
        display: none;

    }

    #iframe3{
        display: block;
    }

    .child10 h3{
        font-size: 2rem;
    }

    #companyName{
        font-size: 1.7rem;
        font-weight: 550;
    }

    #companyAddress{
        font-size: 1.4rem;
        font-weight: 200
    }

 
}

@media only screen and (max-width : 1600px) {
    html {
        font-size: 100%;
    }
    #iframe2{
        display: none;

    }

    #contact-us-form{
        display: none;
    }

    #iframe3{
        display: none;
    }

    #iframe1{
        display: block;
    }

    #iframe2{
        display: none;

    }

    .child10{
        font-size: 1rem;
    }

    .child10 h3{
        font-size: 1.5rem;
    }

    #companyName{
        font-size: 1.2rem;
        font-weight: 550;
    }

    #companyAddress{
        font-size: 1rem;
        font-weight: 200
    }

}

@media only screen and (max-width : 1024px) {
    html {
        font-size: 75%;
    }

    #index-PCD {
        height: 25rem;
    }


    .small-logo {

        height: 15rem;
        width: 15rem;
        margin-top: 3rem;

    }

    .child2{
        height: 28rem;
    }

    #form-page5 .form-group input[type="submit"] {
        padding: 0.8rem 9rem;
    }

    #form-page5 {
        height: 28rem;
        width: 20rem;
    }

    #contact-us-form{
        display: none;
    }


    #iframe3{
        display: none;
    }

    #iframe1{
        display: block;
    }

    #iframe2{
        display: none;

    }

    .child10{
        font-size: 1.2rem;
        display: block;
    }


}

/* Medium devices (tablets) */
@media only screen and (max-width: 769px) {

    #index-PCD {
        height: 30rem;
    }


    html {
        font-size: 55%;
    }

    /* .mobile-navbar-btn {
            display: block;
            z-index: 999;
            color: black;
            font-size: 3rem;
            border: 2px solid black;
        }

        .header {
            width: 40%;
        } */


    .child1 {
        font-size: 1.2rem;
    }

    .child4 {
        font-size: 1.2rem;
    }


    .small-logo {

        height: 20rem;
        width: 20rem;
        mix-blend-mode: darken;

    }

     #form-page5 {
        width: 33rem;
        height: 23rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    #form-page5 .form-group input[type="submit"] {
        padding: 3px 30px;
        font-size: 1rem;
    }


    #form-page5 .form-group input[type="text"],
    .form-group input[type="email"],
    .form-group textarea {

        padding: 5px;

    }

    #form-page5 .form-group input[type="submit"] {
        padding: 0.8rem 10.8rem;
    }


    #iframe2{
        margin-right: 3rem;
    }


   
    .child10 {
        width: 30%;
        margin-left: 3rem;
        border: 2px black;
        margin-top: 2rem;
        text-align: start;


    }
    .child10{
        font-size: 1.2rem;
        display: block;
    }

    #contact-us-form{
        display: none;

    }

    #iframe3{
        display: none;
    }

    #iframe1{
        display: none;
    }

    #iframe2{
        display: block;

    }

    

}



/* Small devices (phones) */
@media (max-width: 600px) {



    html {
        font-size: 60%;
    }

    .navbar {
        overflow: hidden;
        height: 25rem;

    }

    .nav-list {
        display: none;
        flex-direction: column;
        width: 95%;
        margin-right: 0rem;
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #F66709;
        height: 25rem;
        border-radius: 0;
        transition: 0.4s ease;
        padding-left: 3rem;
        padding-top: 2rem;
        margin-top: 2rem;
        align-items: start;
        text-align: center;
    }

    .burger {
        display: block;
        z-index: 2;
    }

    .h-nav {
        height: 6rem;

    }
    .v-class {
        height: 22rem
        
    }

    .nav-list ul {
        margin-top: 10rem;
        
    }

    .nav-list li {
        margin-bottom: 1rem;
        font-size: 1rem;
        font-weight: 800;
        text-transform: uppercase;
        margin-top: 0;
        margin-left: 0;

    }

    .nav-list i {
        display: none;
    }



    .Nav1 {
        height: 3rem;
    }

    .nav1-left marquee {
        margin-top: 0.3rem;
        width: 30rem;
        margin-left: 0;
        font-size: 1.5rem;
    }

    .nav1-right {
        display: none;
    }


    .middle-section {
        display: none;
    }

    #index-PCD {
        height: 15rem;
    }


    #index-PCD2 {
        display: flex;
        justify-content: space-around;
        background-color: #006768;
        height: auto;
        padding: 1rem 2rem;
        
      }


      
#PCD-part1 {
    width: auto;
    height: auto;
    line-height: 1.5rem;
  
  
  }

  #PCD-part1 p {
    color: white;
    padding-top: 1rem;

  }

    .slideshow-container {
        max-width: 100%;
        position: relative;

    }

    .mySlides img {
        height: 20rem;
    }

    .secondSection {

        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .about-container {
        max-width: 80%;
        margin-top: 1rem;
    }

    .subscription-section {
        display: none;

    }

    .foot-panel2 {
        margin-top: 2rem;

    }

    .foot-panel2 ul a {
        margin-top: 5px;

    }

    .foot-panel2 ul {
        padding-bottom: 1rem;
    }


    .foot-panel4 {
        height: auto;
    }

    .pages {

        padding-top: 5px;

    }

    .copyright {
        padding-bottom: 5px;

    }




    #about-info p {
        max-width: 80%;
    }

    #brand {
        font-size: 1.5rem;
    }

    #below-heading {
        border-style: none;
        height: 0px;
        border: 0.1px solid black;
        width: 75%;
        margin-left: 10%;
    }

    .child1 {
        width: 90%;
    }

    .child2 {
        width: 90%;
        margin-left: 5%;
        height: 25rem;
        margin-right: 5%;
        margin-top: 2rem;
        display: none;
    }

    h2 {
        margin-bottom: 1rem;
        font-size: 1rem;
    }



    .form-group {
        margin-bottom: 0.2rem;

    }

    .form-group input[type="text"],
    .form-group input[type="email"],
    .form-group textarea {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .form-group textarea {
        height: 2rem;
    }

    .form-group input[type="submit"] {
        padding: 3px 30px;
        font-size: 1rem;
    }

    .child3 img {
        width: 35rem;
        height: 20rem;
    }

    .child3 {
        margin: 0;
    }

    .child4 h3 {
        margin-bottom: 0;
    }

    .child4 {
        line-height: 1.5rem;
        width: 50rem;
        margin-left: 5%;
        display: none;

    }

    .small-logo {
        display: none;
    }


    #form-page5 {
        width: 33rem;
        height: 22rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
        #form-page5 .form-group input[type="submit"] {
        padding: 3px 10px;
        font-size: 1rem;
    }


    #form-page5 .form-group input[type="text"],
    .form-group input[type="email"],
    .form-group textarea {
        width: 100%;
        padding: 0.01rem;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    #form-pages5 .form-group {
        margin-bottom: 1px;

    }

    #form-pages5 h2 {
        color: white;
    }


    .allimages{
        justify-content: left;
        margin-left: 5%;
        gap: 2rem;
    }


    .productbox{
        width: 100%;
        margin-top: 0;
    }

    .main-images img{
        height: 30rem;
    }

    .text{
        width: 100%;
    }

    
    .text p{
        font-size: 1.4rem;
    }


    .smallimages{
        z-index: 1;
        margin-top: 0s;
    }

    .product-wrapper .text {
        width: auto;
        justify-content: center;
        margin: 0 2rem ;
    }


    .product-wrapper{
        width: 100%;
    }


    .wrapper {
     
        grid-template-columns: auto auto ;

        column-gap: 1rem;
        row-gap: 2rem;
    
      
        
      }

      .product-img{
        width: 15rem;
      }


      .products .product-slider .box {

        text-align: center;
        border-radius: 0.5rem;
        height: 22rem;
        width: 20rem;
        padding-top: 3rem;
        margin-top: 2rem;
      
      }

      .products .product-slider .box h4 {
        font-size: 1.7rem;
      
      }

      #products .heading {
        font-size: 2.5rem;
      }

      
    #contact-us-form{
        display: block;
    }

    #iframe1{
        display: none;
    }

    .child10{
        display: none;
    }

    .child12{
        width: auto;
    }
    #iframe2{
        margin-left: 3rem;
    }



    
.aboutUs-images-container{
    width: 90%;
    margin: 0 5%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 3rem;
  }
  
  .img{
    height: 30rem;
    
    padding: 2rem;
    margin-top: 3rem
  }
  .img p{
    font-size: 1.6em;
    font-weight: 600;
  }
  
  .img img{
    width: 35rem;
  }


  .foot-panel2 ul a{
    font-size: 0.85rem;
  }

  .foot-panel2 ul p{
    font-size: 1rem;
  }


  .product-box-bottom{

    background-color:rgba(220, 218, 218, 0.888);
    height:6.5rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

  
  }


  
  

}


@media (max-width: 440px) {
    
    .wrapper {
     
        grid-template-columns: auto ;
    }

    
    .products .product-slider .box {

      
        height: 29rem;
        width: 25rem;
  
      
      }


      .product-img{
        width: 22rem;
      }

      
    

}
